 .u-section-1 {
  background-image: url("images/replicate-prediction-drfdmqjbxw4v4hp4symusfulgy.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 883px;
  font-family: "Germania One";
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  width: 776px;
  margin: 11px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 5914px;
}

.u-section-2 .u-text-1 {
  margin: 27px 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 5732px;
  width: 1484px;
  margin: 27px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 3813px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 798px);
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 3631px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 7398px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 688px);
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 6258px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5621px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 598px);
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    height: 18774px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3646px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 498px);
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 11821px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 224px;
}

.u-section-3 .u-text-1 {
  font-weight: bold;
  font-size: 2.25rem;
  margin: 1px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 0 0;
}

.u-section-3 .u-group-1 {
  width: 1113px;
  min-height: 132px;
  height: auto;
  margin: 16px 0 26px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 695px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  margin: 19px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 22px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 783px;
}

.u-section-5 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-list-1 {
  width: 751px;
  margin: 54px 0 30px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 643px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  height: auto;
  width: 280px;
  min-height: 280px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 21px;
}

.u-section-5 .u-image-1 {
  height: auto;
  background-image: url("images/faye.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 42px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-5 .u-group-2 {
  min-height: 54px;
  margin-top: 28px;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-5 .u-image-2 {
  width: 54px;
  top: 0;
  left: 123px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  height: auto;
  width: 280px;
  min-height: 280px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 21px;
}

.u-section-5 .u-image-3 {
  height: auto;
  object-position: 50% 94.17%;
  background-image: url("images/portrait.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 42px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-5 .u-group-4 {
  min-height: 54px;
  margin-top: 28px;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-5 .u-image-4 {
  width: 54px;
  top: 0;
  left: 123px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-image-2 {
    margin: initial;
  }

  .u-section-5 .u-image-3 {
    width: auto;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-image-4 {
    margin: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-5 .u-list-1 {
    width: 438px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1182px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 330px;
}

.u-section-6 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-6 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px auto 0 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  width: 1458px;
  margin: 13px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  min-height: 235px;
  grid-gap: 0px 0px;
  grid-auto-columns: 16.6667%;
}

.u-section-6 .u-image-1 {
  background-image: url("images/fl33t.png");
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px 30px 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/build.png");
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 40px 30px 0;
}

.u-section-6 .u-image-3 {
  background-image: url("images/quafe.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 40px 30px 0;
}

.u-section-6 .u-image-4 {
  background-image: url("images/tlib.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 40px 30px 0;
}

.u-section-6 .u-image-5 {
  background-image: url("images/brutor.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 40px 30px 0;
}

.u-section-6 .u-image-6 {
  background-image: url("images/boundless.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 40px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 152px;
    grid-auto-columns: 16.666666666666668%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 466px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 30px;
    padding-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 786px;
    grid-auto-columns: 50%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 569px;
}

.u-section-7 .u-text-1 {
  margin: 7px 0 0;
}

.u-section-7 .u-line-1 {
  transform-origin: right center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 0 0;
}

.u-section-7 .u-group-1 {
  width: 751px;
  min-height: 393px;
  height: auto;
  margin: 60px 0 55px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 30px 494px 0 0;
}

.u-section-7 .u-form-1 {
  height: 48px;
  margin: 30px 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 463px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-bottom: 48px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 123px;
  }
}